@(implicit request: RequestHeader)
@import helper._
@views.html.todolist.main("パスワード変更") {

<form action="/todolist/change" method="POST">
    @CSRF.formField
    <table class="w3-table">
        <tr>
            <th>現在のパスワード</th>
            <td><input type="text" name="old"></td>
        </tr>
        <tr>
            <th>新しいパスワード</th>
            <td><input type="text" name="new"></td>
        </tr>
    </table>
    <a href="/todolist/mypage">戻る</a>
    <input type="submit" value="変更">
</form>

}